@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: url('tlo.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: "Space Grotesk", sans-serif;
}

/* Navbar */
.navbar {
  font-size: 1.5rem;
  background-color: transparent !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 1rem;
  border: none;
  box-shadow: none;
}

.navbar .nav-link {
  transition: all .5s ease;
  color: white !important;
  outline: none;
  border-radius: 4px;
  padding: 0.5rem 1rem; 
}

.navbar .nav-link:hover {
  color: #ffffff;
  background-color: rgba(71, 32, 94, 0.7);
}

.navbar-brand img {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Sekcja formularza */
.rightSection {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 3em 5em; 
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 10px;
  border: 10px solid #8d1ca4;
  width: 90%; 
  max-width: 600px; 
  margin: 3em auto;
}

p {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2.5rem; 
  color: white;
}

/* Input and textarea styling */
input, textarea {
  border: 10px outset #6e1ca4;
  border-radius: 0px 0px 40px 0px;
  font-size: 2rem; 
  margin: 1em 0; 
  padding: .5em;
}

input:focus, textarea:focus {
  border: 10px outset #791ca4;
  border-radius: 40px 0px 40px 0px;
  outline: none;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: #742baf;
}

/* Checkbox section */
.checkbox-section {
  display: flex;
  gap: 4em; 
  margin: 1em 0; 
  color: white;
}
form .form-check-label {
  color: #ffffff;       /* Biały kolor tekstu */
  font-size: 1.2rem;    /* Zwiększony rozmiar czcionki */
  font-weight: 500;     /* Opcjonalnie pogrubienie */
}

/* Price label styling */
.price-label {
  width: 100%;
  border: 10px outset #791ca4;
  border-radius: 40px 0px 40px 0px;
  font-size: 1.5rem;
  padding-left: 10px;
  margin-bottom: 1em;
  background-color: #ffffff;
  color: #4a0072;
  transition: all 0.3s ease;
}

/* Styl dla przycisku załącznika  */
button.btn.send {
  border: 5px outset #6e1ca4;
  border-radius: 0px 0px 40px 0px;
  font-size: 1rem; 
  padding: 0.4em 1em; 
  margin: 1em 0;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  width: auto; 
  max-width: 250px; 
  box-shadow: 0px 4px 10px rgba(110, 28, 164, 0.4);
}

button.btn.send:hover {
  background-color: #c199dd;
  color: #2f0144;
  box-shadow: 0px 6px 20px rgba(110, 28, 164, 0.6);
}

button.btn.send:focus {
  border: 5px outset #791ca4;
  border-radius: 40px 0px 40px 0px;
  outline: none;
}


/* Submit button styling */
.zapytaj {
  font-size: 2rem;
  color: #2f0144 !important; 
  background-color: #ffffff !important; 
  border: 10px outset #6e1ca4;
  border-radius: 0px 0px 40px 0px;
  padding: 0.5em;
  margin: 1em auto;
  width: 100%;
  max-width: 200px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 10px rgba(110, 28, 164, 0.4); 
}

.zapytaj:hover {
  background-color: #c199dd; 
  color: #2f0144 !important; 
  box-shadow: 0px 6px 20px rgba(110, 28, 164, 0.6); 
}

.zapytaj:focus {
  border: 10px solid #791ca4;
  outline: none;
  box-shadow: 0px 6px 15px rgba(121, 28, 164, 0.6); 
}

/* Media Queries */
@media only screen and (max-width: 1000px) {
  .rightSection {
    width: 70%;
    margin: 3em auto;
  }
}

@media only screen and (max-width: 800px) {
  .rightSection {
    padding: 2em 3em;
  }
  input, textarea {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .rightSection {
    width: 85%;
    padding: 1.5em 2em;
  }
}

@media only screen and (max-width: 400px) {
  .rightSection {
    padding: 1em 1.5em;
  }
}

@media only screen and (max-width: 330px) {
  .rightSection {
    padding: 1em;
  }
  button {
    width: 7em;
  }
}
